
@{
	ViewData["Title"] = "Index";
	int count = 1;
}
@model IEnumerable<Employee>
<div class="content container-fluid">
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<div class="mt-5">
					<h4 class="card-title float-left mt-2">All Employees</h4> <a asp-action="Create" class="btn btn-primary float-right veiwbutton">Add Employee</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-table">
				<div class="card-body booking_card">
					<div class="table-responsive">
						<table class="datatable table table-stripped table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Image</th>
									<th>Name</th>
									<th>Surname</th>
									<th>Age</th>
									<th>Number</th>
									<th>Profession</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@(count++)</td>
										<td>
											<h2 class="table-avatar">
												<a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/assets/img/employee/@item.Image"></a>
											</h2>
										</td>
										<td>@item.Name</td>
										<td>@item.Surname</td>
										<td>@item.Age</td>
										<td>@item.Phone</td>
										<td>@item.Profession.Name</td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a>
													<a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt m-r-5"></i> Delete</a> 
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

