
@{
    Layout = null;
    var StartTime = ViewBag.Startdates;
    var EndTime = ViewBag.Enddates;
    var childrencount = ViewBag.ChildrenCount;
    var peoplecount = ViewBag.PeopleCount;
}
@model OrderVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Checkout</title>
    <link rel="stylesheet" href="~/checkout/style.css">
</head>
<body>
    <div class="checkout-container">
        <div class="left-side">
        </div>
        <div class="right-side">
            <div class="receipt">
                <h2 class="receipt-heading">Receipt Summary</h2>
                <div>
                    <table class="table">

                        <tr class="total">
                            <td>Total</td>
                            <td class="price">@Model.Totalprice</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="payment-info">
                <h3 class="payment-heading">Hotel Information</h3>
                <form method="post" asp-action="CheckOut" class="form-box" >
                    <div>
                        <label>StartDate</label>
                        <input asp-for="@Model.StartDate" asp-format="{0:MM/dd/yyyy}" disabled placeholder="Start Date" required type="text" />
                    </div>
                    <div>
                        <label>EndDate</label>
                        <input asp-for="@Model.EndDate" disabled asp-format="{0:MM/dd/yyyy}" class="form-control input" placeholder="End Date" required type="text" />
                    </div>
                    <div>
                        <label>Children Count</label>
                        <input value="@Model.ChildrenCount" disabled placeholder="Children Count" required type="text" />
                    </div>
                    <div>
                        <label>People Count</label>
                        <input value="@Model.PeopleCount" disabled placeholder="People Count" required type="text" />
                    </div>
                    <button class="btn" type="submit" asp-route-StartTime="@StartTime" asp-route-EndTime="@EndTime" asp-route-Children="@childrencount" asp-route-People="@peoplecount">
                        <i class="fa-solid fa-lock"></i> Send
                    </button>
                </form>

                <p class="footer-text">
                    <i class="fa-solid fa-lock"></i>
                    Your credit card infomration is encrypted
                </p>
            </div>
        </div>
    </div>
</body>
</html>