@model Dictionary<string,string> 
<!-- Clients -->
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="owl-carousel owl-theme">
                    @await Component.InvokeAsync("Client")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-column footer-about">
                        <h3 class="footer-title">About Hotel</h3>
                        <p class="footer-about-text">@Model["about"]</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <div class="footer-column footer-explore clearfix">
                        <h3 class="footer-title">Explore</h3>
                        <ul class="footer-explore-list list-unstyled">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Room" asp-action="Index">Rooms</a></li>
                            <li><a asp-controller="Restaurant" asp-action="Index">Restaurant</a></li>
                            <li><a asp-controller="Spa" asp-action="Index">Spa & Wellness</a></li>
                            <li><a asp-controller="About" asp-action="Index">About Hotel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column footer-contact">
                        <h3 class="footer-title">Contact</h3>
                        <p class="footer-contact-text">@Model["location"]<br>@Model["country"]</p>
                        <div class="footer-contact-info">
                            <p class="footer-contact-phone"><span class="@Model["phoneicon"]"></span> @Model["phone"]</p>
                            <p class="footer-contact-mail">@Model["gmail"]</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-inner">
                        <p class="footer-bottom-copy-right">© Copyright 2022 by <a href="#">DuruThemes.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- jQuery -->
<script src="~/assets/js/jquery-3.6.3.min.js"></script>
<script src="~/assets/js/jquery-migrate-3.0.0.min.js"></script>
<script src="~/assets/js/modernizr-2.6.2.min.js"></script>
<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/jquery.isotope.v3.0.2.js"></script>
<script src="~/assets/js/pace.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/scrollIt.min.js"></script>
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.stellar.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.js"></script>
<script src="~/assets/js/YouTubePopUp.js"></script>
<script src="~/assets/js/select2.js"></script>
<script src="~/assets/js/datepicker.js"></script>
<script src="~/assets/js/smooth-scroll.min.js"></script>
<script src="~/assets/js/custom.js"></script>