
@{
    ViewData["Title"] = "Search";
    var Start = ViewBag.StartDate;
    var End = ViewBag.EndDate;
    var Children = ViewBag.ChildrenCapacity;
    var People = ViewBag.PeopleCapacity;
}
@model List<Room>
<!-- Booking Search -->
    @await Component.InvokeAsync("Search")
<!--Rooms-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Images</div>
                <div class="section-title">Image Gallery</div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="~/assets/img/room/@item.RoomImages.Where(x=>x.IsMain==true).FirstOrDefault().Image" alt=""> </div> <span class="category"><a href="rooms2.html">Book</a></span>
                        <div class="con">
                            <h5><a asp-controller="Order" asp-action="Checkout" asp-route-id="@item.Id" asp-route-start="@Start" asp-route-end="@End" asp-route-childrencount="@Children" asp-route-peoplecount="@People">@item.RoomType.Name</a></h5>
                            <h5>@item.RoomPrice</h5>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>